@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import './styles/phone.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

//Text
$Pale-Violet: #d89eff; //
$Moderate-Violet: #9241c8; //
$Desaturated-Dark-Violet: #6e5d7e; //
$Grayish-Blue: #c6cacd; //
$Very-Dark-Desaturated-Violet: #3e2753; //
$Dark-Grayish-Violet: #a39daa;
//Gradient
$Light-Magenta: #e942ff; //
$Light-Violet: #8838ff; //
//Secondary
$Light-Grayish-Violet: #f5f3f7; //
$Very-Dark-Desaturated-Violet: #3e2753; //
$Very-Light-Magenta: #e570ff;

* {
  font-family: 'Rubik', sans-serif;
}

body {
  @apply relative min-h-screen overflow-x-hidden bg-[#fafafa];

  .content {
    @apply relative flex h-full min-h-screen w-full flex-col items-center justify-center gap-[72px] overflow-hidden py-16 px-10
    xl:flex-row xl:gap-32;
    &::after {
      content: '';
      @apply absolute right-0 bottom-0 -z-10 h-[1000px] w-full translate-x-1/2 translate-y-1/2 rounded-full
      bg-gradient-to-b from-LightViolet to-LightMagenta opacity-5 xl:right-[8%] xl:h-[160%] xl:w-1/2;
    }

    .text {
      @apply flex flex-col items-center gap-8 text-center xl:items-start xl:text-left;
      h1 {
        @apply text-4xl font-bold text-VeryDarkDesaturatedViolet;
      }
      p {
        @apply max-w-[350px] text-DarkGrayishViolet;
      }
    }
  }

  &::before {
    content: '';
    @apply absolute top-0 left-0 h-[1000px] w-full -translate-x-1/2 -translate-y-1/2 rounded-full bg-gradient-to-b
    from-LightMagenta to-LightViolet xl:left-[8%] xl:h-[160%] xl:w-1/2;
  }
}
